@font-face {
   font-family: 'courgette';
   src: url('../font/courgette-regular-webfont.eot');
   src: url('../font/courgette-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../font/courgette-regular-webfont.woff') format('woff'),
      url('../font/courgette-regular-webfont.ttf') format('truetype'),
      url('../font/courgette-regular-webfont.svg#typoslabserif-lightregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

a:link {
    font-family: 'courgette';
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #f5f5f5;
	text-decoration: none;
}

a:visited {
	color: #fff;
	text-decoration: none;
} 